body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Στυλ για την επικεφαλίδα */
h2 {
    color: #333;
}

/* Στυλ για την λίστα των παιχνιδιών */
.games-list {
    margin-top: 20px;
}

.games-list li {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Στυλ για τα διάφορα στοιχεία του παιχνιδιού */
.games-list li h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.games-list li p {
    margin-top: 0;
    margin-bottom: 5px;
    color: #666;
}

.games-list li span {
    font-weight: bold;
    color: #333;
}